:root
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}


.clear
{
    clear: both;
}

header
{
    position: fixed;
    width: 100%;
    z-index: 5;
}
#header-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    background-color: lightgray;
}

#header-container a
{
    margin: 0 auto;
}

#main-logo
{
    width: 300px;
    height: auto;
}

#main-logo:hover
{
    animation: spin 2s ease-in-out forwards;
}


@keyframes spin {
    0% 
    {
      transform: rotateY(0deg);
    }

    100% 
    {
      transform: rotateY(360deg);
    }
}

#header-navbar
{
    width: 1000px;
    text-align: center;
    margin-left: 100px;
}

#header-navbar nav ul
{
    padding: 0;
    margin: 0;

}

#header-navbar nav ul li
{
    display: inline-block;
    padding: 20px;
}

#header-navbar nav ul li a
{
    text-decoration: none;
    font-size: 150%;
    color: black;
    display: inline-block;
    transition: transform 0.5s ease;
}

#header-navbar nav ul li a:hover
{
    text-decoration: underline;
    transform: scale(1.25);
}

.hamburger {
    display: none;
    font-size: 3em;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.mobile-menu a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-top: 1px solid #444;
}

.mobile-menu a:hover
{
    text-decoration: underline;
}

main
{
    width: 100%;
    min-height: calc(100vh - 120px); /* 100vh menos la altura del header y footer */
    padding-top: 150px; /* Igual a la altura del header */
    padding-bottom: 60px; /* Igual a la altura del footer */
    box-sizing: border-box;
}

main h1
{
    margin: 0;
    font-size: 4rem;
}

#hero-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

#hero-container h1
{
    margin-bottom: 20px;
}

#hero-main-panel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

#hero-main-panel img
{
    width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
    max-width: 500px; /* Limita el tamaño máximo */
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

#hero-main-panel p
{
    text-align: center;
    margin: 20px;
}

footer
{
    width: 100%;
    height: 100px;
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    z-index: 5;
}

#footer-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

#footer-links
{
    margin-left: auto;
    margin-right: 50px;
}

#footer-links i
{
    transition: transform 0.5s ease;
}

#footer-links i:hover
{
    transform: scale(1.25);

}

#footer-links a
{
    margin: 5px;
    color: black;
}



@media (max-width: 768px) {

    #main-logo
    {
        margin-left: 20px;
    }
    #nav-links {
      display: none;
    }
  
    .hamburger {
      display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        background-color: #333;
        color: #fff;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-out;
    }

    #footer-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px 20px 20px;
    }

    #footer-links
    {
        margin: 0;
    }
}

@media (min-width: 769px) {
    #header-navbar
    {
        width: 1000px;
        text-align: center;
        margin-left: 100px;
    }

    #header-navbar nav ul
    {
        padding: 0;
        margin: 0;

    }

    #header-navbar nav ul li
    {
        display: inline-block;
        padding: 20px;
    }

    #header-navbar nav ul li a
    {
        text-decoration: none;
        font-size: 150%;
        color: black;
        display: inline-block;
        transition: transform 0.5s ease;
    }
  
    .hamburger {
      display: none;
    }
  
    .mobile-menu {
      display: none;
    }

    .mobile-menu a
    {
        display: none;
    }
}



